<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

    <h1>Search Results</h1>

    <!-- Display search form -->
    <form th:action="@{/search/results}" method="post">
        <div class="form-group">
            <label for="choices">Search Type:</label>
            <select id="choices" name="choices">
                <option th:each="entry : ${columns}" th:value="${entry.key}" th:text="${entry.value}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="searchTerm">Search Term:</label>
            <input type="text" id="searchTerm" name="searchTerm" />
        </div>
        <button type="submit">Search</button>
    </form>

    <!-- Display search results in tables -->
    <table th:if="${jobs}" class="job-listing">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Employer</th>
            <th>Location</th>
            <th>Position Type</th>
            <th>Skill</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job : ${jobs}">
            <td th:text="${job.id}"></td>
            <td th:text="${job.name}"></td>
            <td th:text="${job.employer}"></td>
            <td th:text="${job.location}"></td>
            <td th:text="${job.positionType}"></td>
            <td th:text="${job.coreCompetency}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Display a message if no results are found -->
    <div th:if="${jobs == null or jobs.size() == 0}">
        <p>No results found.</p>
    </div>

</div>

</body>
</html>

